/*Start Settings*/ 

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    border: 0
    
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

/*End Settings*/ 


/*Start Navbar*/ 
.menu {
    background: linear-gradient(to bottom, #5c2666 , #253b68);
    text-align: center;
    Position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
}

.img__avatar {
    max-width: 40%;
    padding-top: 30%;
    padding-bottom: 5%;
}

.ul__menu {
    text-align:  left;
    color: white;
    font-size: 28px;
    list-style-type: none;
}

.li__el {
    padding-top: 10%; 
    margin-top: 5%;
}

.li__el>a {
    text-decoration: none;
    color: white;
    padding-left: 30%;
    padding-right: 40%;
}


.li__el>a:hover {
    color: #ff4ba8;
    border-left: 5px solid #ff4ba8;
    transition: 0.3s;
}

.media {
    color: white;
}

.icon {
    color: white;
    font-size: 130%;
    padding: 5%;
    position: relative;
    bottom: -120px;
    left: 0px;
}

.icon:hover {
    color: #ff4ba8;
    transition: 0.3s;
}


/*End Navbar*/ 

/*Start Main Content*/ 

main {
    margin-left: 20%;
    background: url(../img/menu.png);
    width: 80%;
    height: 3000px;
    color: #ffffff;
}

.pad__top__5 {
    padding-top: 5%;
}

.pad__top__15 {
    padding-top: 15%;
}

.pad__right__10 {
    padding-right: 10%;
}

.pad__left__3 {
    padding-left: 3%;
}    

.pad__bot__10 {
    padding-bottom: 10%;
}


.mg__top__10 {
    margin-top: 10%;
}



.display__flex {
    display: flex;
}

.h1__nickname {
    padding-top: 5%;
    font-size: 50px;
    color: white;
}


.h2__profession {
    color: #ff4ba8;
    font-size: 30px;
}


.h3__headline {
    font-size: 30px;
}

/*Start About*/

.pad_bot_awpc {
    padding-bottom: 20%;
}


.img__main__avatar {
    margin-right: 10%;
    padding-top: 17%;
}


hr {
    height: 3px;
    width: 120px;
    border: 0px;
    border-radius: 15%;
    background: #ff4ba8;   
}

.description {
    font-size: 20px;
    color: #ffffff;
    padding-top: 5%;
    margin-right: 20%;
    padding-bottom: 2.5%;
}

.hire__me {
    font-size: 18px;
    background: #ff4ba8;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
}

.know__more{
    font-size: 18px;
    background: gray;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 10%;
}

.hire__a {
    padding: 10% 30% 10% 30%;
}

.know__a {
    padding: 10% 20% 10% 20%;
}

.img__project>a>img {
    width: 45%;
} 

.img__project>a>img:hover {
    width: 46%;
    background: black;
    z-index: 1000;
    transition: 0.3s;
}