* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;

}
.menu {
    background: linear-gradient(to bottom, #5a2764, #203b75);
    text-align: center;
    Position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
}

.img__avatar {
    max-width: 40%;
    padding-top: 30%;
    padding-bottom: 5%;
}

.ul__menu {
    text-align:  left;
    color: white;
    font-size: 30px;
    font-weight: 400;
    list-style-type: none;
}

.li__el {
    padding-top: 10%; 
    margin-top: 5%;
}

.li__el>a {
    text-decoration: none;
    color: white;
    padding-left: 30%;
    padding-right: 40%;
}


.li__el>a:hover {
    color: #bc5189;
    border-left: 5px solid #bc5189;
    transition: 0.3s;
}

.media {
    color: white;
}

.icon {
    color: white;
    font-size: 130%;
    padding: 5%;
    position: relative;
    bottom: -120px;
    left: 0px;
}

.icon:hover {
    color: #bc5189;
    transition: 0.3s;
}

