/*Start Settings*/ 

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    border: 0
    
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

/*End Settings*/ 


/*Start Navbar*/ 
.menu {
    background: linear-gradient(to bottom, #5c2666 , #253b68);
    text-align: center;
    Position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
}

.img__avatar {
    max-width: 40%;
    padding-top: 30%;
    padding-bottom: 5%;
}

.ul__menu {
    text-align:  left;
    color: white;
    font-size: 28px;
    list-style-type: none;
}

.li__el {
    padding-top: 10%; 
    margin-top: 5%;
}

.li__el>a {
    text-decoration: none;
    color: white;
    padding-left: 30%;
    padding-right: 40%;
}


.li__el>a:hover {
    color: #ff4ba8;
    border-left: 5px solid #ff4ba8;
    transition: 0.3s;
}

.media {
    color: white;
}

.icon {
    color: white;
    font-size: 130%;
    padding: 5%;
    position: relative;
    bottom: -120px;
    left: 0px;
}

.icon:hover {
    color: #ff4ba8;
    transition: 0.3s;
}


/*End Navbar*/ 

/*Start Main Content*/ 

main {
    margin-left: 20%;
    background: url(../img/menu.png);
    width: 80%;
    height: 4500px;
    color: #ffffff;
}

.pad__top__5 {
    padding-top: 5%;
}

.pad__top__15 {
    padding-top: 15%;
}

.pad__right__10 {
    padding-right: 10%;
}

.pad__left__3 {
    padding-left: 3%;
}    

.pad__bot__10 {
    padding-bottom: 10%;
}


.mg__top__10 {
    margin-top: 10%;
}

.display__flex {
    display: flex;
}

.h1__nickname {
    padding-top: 5%;
    font-size: 50px;
    color: white;
}

.h2__profession {
    color: #ff4ba8;
    font-size: 30px;
}


.h3__headline {
    font-size: 30px;
}

/*Start About*/

.pad_bot_awpc {
    padding-bottom: 20%;
}

.img__main__avatar {
    margin-right: 10%;
    padding-top: 17%;
}


hr.about {
    height: 3px;
    width: 85px;
    border: 0px;
    border-radius: 15%;
    background: #ff4ba8;   
}


hr.work {
    height: 3px;
    width: 80px;
    border: 0px;
    border-radius: 15%;
    background: #ff4ba8;   
}


hr.projects {
    height: 3px;
    width: 115px;
    border: 0px;
    border-radius: 15%;
    background: #ff4ba8;   
}


hr.certificates{
    height: 3px;
    width: 160px;
    border: 0px;
    border-radius: 15%;
    background: #ff4ba8;   
}

.description {
    font-size: 20px;
    color: #ffffff;
    padding-top: 5%;
    margin-right: 20%;
    padding-bottom: 2.5%;
}

.hire__me {
    font-size: 18px;
    background: #ff4ba8;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
}

.know__more{
    font-size: 18px;
    background: gray;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 10%;
}

.hire__a {
    padding: 10% 30% 10% 30%;
}

.know__a {
    padding: 10% 20% 10% 20%;
}

.img__project>a>img {
    width: 45%;
} 

.img__project>a>img:hover {
    width: 46%;
    background: black;
    z-index: 1000;
    transition: 0.3s;
}

@media (min-width:320px) and (max-width:479px) {

    hr.about {
        display: none;
    }

    .display__flex {
        display: table;
    }
    hr.projects {
        margin-bottom: 10%;
    }

    hr.certificates {
        margin-bottom: 10%;
    }

    .pad__left__3 {
        padding-left: 6%;
    }

    .adaptation_5 {
        margin-top: 5%;
    }

    .adaptation_17 {
        padding-left: 14%;
    }

    .img__main__avatar {
        margin-right: 0%;
    }
    
    .hire__me {
        margin-top: 10%;
        width: 180px;
        font-size: 15px;
    }

    .know__more {
        margin-top: 10%;
        width: 180px;
        font-size: 15px;
    }

    #img__about {
        display: none;
    }

    .h1__nickname {
        padding-top: 5%;
        font-size: 30px;
    }

    .description {
        font-size: 15px;
    }

    .h2__profession {
        font-size: 25px;
    }

    .li__el>a:hover {
        color: #ff4ba8;
        border: 0px;
        transition: 0.3s;
    }

    .icon {
        position: relative;
        top: 10px;
        font-size: 90%;
    }

    .ul__menu {
        text-align: left;
        color: white;
        font-size: 15px;
        list-style-type: none;
    } 

    .li__el {
        display: inline-block;
        padding-top: 0%;
        width: 20%;
    }

    main {
        background: url(../img/menu.png);
        width: 100%;
        height: 3000px;
        color: #ffffff;
        margin-left: 0%;
    }

    .menu {

        background: linear-gradient(to bottom, #5c2666 , #253b68);
        text-align: center;
        Position: fixed;
        top: 0;
        left: 0;
        height: 15%;
        width: 100%;
    }

    .img__avatar {
        display: none;
    }

}



@media (min-width:480px) and (max-width:639px) {

    .display__flex {
        display: table;
    }
    hr.projects {
        margin-bottom: 10%;
    }

    hr.certificates {
        margin-bottom: 10%;
    }

    .pad__left__3 {
        padding-left: 6%;
    }

    .adaptation_5 {
        margin-top: 5%;
    }

    .adaptation_17 {
        padding-left: 14%;
    }

    .img__main__avatar {
        margin-right: 0%;
    }
    
    .hire__me {
        margin-top: 10%;
        width: 180px;
        font-size: 20px;
    }

    .know__more {
        margin-top: 10%;
        width: 180px;
        font-size: 20px;
    }

    #img__about {
        display: none;
    }

    .h1__nickname {
        padding-top: 30%;
        font-size: 40px;
    }

    .description {
        font-size: 20px;
    }

    .h2__profession {
        font-size: 30px;
    }

    .li__el>a:hover {
        color: #ff4ba8;
        border: 0px;
        transition: 0.3s;
    }

    .icon {
        position: relative;
        top: 30px;
    }

    .ul__menu {
        text-align: left;
        color: white;
        font-size: 22px;
        list-style-type: none;
    } 

    .li__el {
        display: inline-block;
        padding-top: 0%;
        width: 20%;
    }

    main {
        background: url(../img/menu.png);
        width: 100%;
        height: 4000px;
        color: #ffffff;
        margin-left: 0%;
    }

    .menu {

        background: linear-gradient(to bottom, #5c2666 , #253b68);
        text-align: center;
        Position: fixed;
        top: 0;
        left: 0;
        height: 15%;
        width: 100%;
    }

    .img__avatar {
        display: none;
    }

}



@media (min-width:640px) and (max-width:1023px) {

    hr.projects {
        margin-bottom: 10%;
    }

    hr.certificates {
        margin-bottom: 10%;
    }

    .pad__left__3 {
        padding-left: 6%;
    }

    .adaptation_5 {
        margin-top: 5%;
    }

    .adaptation_17 {
        padding-left: 14%;
    }

    .img__main__avatar {
        margin-right: 0%;
    }
    
    .hire__me {
        margin-top: 10%;
        width: 180px;
        font-size: 20px;
    }

    .know__more {
        margin-top: 10%;
        width: 180px;
        font-size: 20px;
    }

    #img__about {
        display: none;
    }

    .h1__nickname {
        padding-top: 30%;
    }

    .li__el>a:hover {
        color: #ff4ba8;
        border: 0px;
        transition: 0.3s;
    }

    .icon {
        position: relative;
        top: 30px;
    }

    .ul__menu {
        text-align: left;
        color: white;
        font-size: 25px;
        list-style-type: none;
    } 

    .li__el {
        display: inline-block;
        padding-top: 0%;
        width: 20%;
    }

    main {
        background: url(../img/menu.png);
        width: 100%;
        height: 4000px;
        color: #ffffff;
        margin-left: 0%;
    }

    .menu {

        background: linear-gradient(to bottom, #5c2666 , #253b68);
        text-align: center;
        Position: fixed;
        top: 0;
        left: 0;
        height: 15%;
        width: 100%;
    }

    .img__avatar {
        display: none;
    }

}


@media (min-width: 1024px) and (max-width: 1279px){

    main {
        margin-left: 20%;
        background: url(../img/menu.png);
        width: 80%;
        height: 3500px;
        color: #ffffff;
    }

    .ul__menu {
        font-size: 20px;
    }

    .icon {
        font-size: 90%;
    }

    .description {
        font-size: 18px;
    }

    .h1__nickname {
        font-size: 35px;
    }

    .h2__profession {
        font-size: 28px;
    }

    #img__about {
        display: none;
    }
}

@media (min-width: 1280px) and (max-width: 1365px){

    main {
        margin-left: 20%;
        background: url(../img/menu.png);
        width: 80%;
        height: 4300px;
        color: #ffffff;
    }

    .ul__menu {
        font-size: 25px;
    }

    .icon {
        font-size: 130%;
    }

    .description {
        font-size: 28px;
    }

    .h1__nickname {
        font-size: 40px;
    }

    .h2__profession {
        font-size: 30px;
    }

    #img__about {
        display: none;
    }
}

@media (min-width: 1366px) and (max-width: 1679px){

    main {
        margin-left: 20%;
        background: url(../img/menu.png);
        width: 80%;
        height: 5000px;
        color: #ffffff;
    }

    .ul__menu {
        font-size: 30px;
    }

    .icon {
        font-size: 140%;
    }

    .description {
        font-size: 20px;
    }

    .h1__nickname {
        font-size: 35px;
    }

    .h2__profession {
        font-size: 28px;
    }

    #img__about {
        width: 120%;
    }

}

@media (min-width: 1680px) and (max-width: 1919px){

    .pad__left__3 {
        padding-top: 5%;
    }

    .img__main__avatar {
        padding-top: 15%;
        margin-top: 5%;
    }
    main {
        margin-left: 20%;
        background: url(../img/menu.png);
        width: 80%;
        height: 6000px;
        color: #ffffff;
    }
}


@media (min-width : 1920px)  {
    .pad__left__3 {
        padding-top: 15%;
    }

    .img__main__avatar {
        padding-top: 15%;
        margin-top: 15%;
    }
    main {
        margin-left: 20%;
        background: url(../img/menu.png);
        width: 80%;
        height: 6500px;
        color: #ffffff;
    }
    #img__about {
        max-width: 90%;
        padding-bottom: 5%;
    }
}

